*{
    font-family: 'Lora', serif;
}
.carousel-item img{
    width: 100% !important;
    height: 90vh;
}
.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.para1{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img1{
    height: 80vh !important;
}
@media only screen and (max-width: 708px) {
    #img1 {
      width: 100% !important;
    }
  }
@media only screen and (max-width: 708px) {
    .card {
      width: 100% !important;
    }
  }
.card{
    text-align: center;
    height: 67vh;
}
.card img{
    margin-left: auto;
    margin-right: auto;
}
.card-text{
    text-align: justify;
}
.card:hover{
    /* background-color: lightgray; */
    /* color: white; */
    cursor: pointer;
}
#name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#image{
    height: 200px;
    margin-top: 10px;
}
#image1{
    height: 200px;
    width: 200px;
    margin-top: 10px;
}
#names{
    width: 350px !important;
    height: 300px !important;
    box-shadow: 0px 1px 4px 5px lightgray;
    border-color: rgb(247, 246, 246);
}
#names:hover{
    border-color: rgb(216, 214, 214) !important;
}
@media only screen and (max-width: 708px) {
    #names1 {
      margin-left: 70px !important;
    }
  }
#description{
    background-color: rgb(37, 37, 253);
    border-radius: 20px;
    color: white !important;
}
#cont{
    background-color: rgb(247, 245, 245);
    margin-bottom: 50px !important;
    padding-bottom: 20px !important;
}
.footer{
    /* position: absolute; */
    /* margin-top: 20px; */
    height: 60px;
    background-size: contain;
    background-color: rgb(17, 111, 253);
    /* padding: 10px 0px 10px 0px; */
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: larger;
    width: 100%;
    position: absolute;
    /* margin-left: 0% !important; */
    left: 0%;
}
.footer{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around;
}
.para2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.para0{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.para3 img{
    padding: 7px;
}
.up img{
    width: 40px;
}
.up{
    position: fixed;
    bottom: 10px;
    right: 2%;
    scroll-behavior: smooth;
    transition: all .10s;
    cursor: pointer;
}
@media only screen and (max-width: 708px) {
    .up {
      bottom: 10px;
    }
  }
@media only screen and (max-width: 708px) {
    .footer {
      height: fit-content;
    }
  }